GITLAB_TAG=18.10.5-ce.0
GITLAB_HOSTNAME="gitlab.local"

RUNNER_TAG=v18.11.3
RUNNER_HOSTNAME=runner1.local

WEBSERVER_TAG=alpine3.23
WEBSERVER_HOSTNAME=webserver.local

DEPLOYER_TAG=3.23.4
DEPLOYER_HOSTNAME=deployer.local
